body {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    background-color: #EFEFEF;
}

/* HEADER STYLES */
.poker {
    height: 150px;
}
h1 {
    letter-spacing: 0.3em;
}
.messages h2 {
    margin: 0;
    padding-top: 30px;
    color: white;
    text-transform: uppercase;
    font-weight: 400;
}


/* TABLE STYLES */
.table {
    margin: auto;
    height: 500px;
    width: 700px;
    background-color: #53AE8D;
    border-radius: 75px;
}
.dealer_hand, .player_hand {
    width: 600px;
    height: 130px;
    background-color: white;
    margin: auto;
}
.dealer_label, .player_label {
    display: block;
    color: white;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-align: left;
    width: 600px;
    margin: 10px auto 10px;
}


/* BUTTON STYLES */
.Buttons {
    display: flex;
    justify-content: center;
    margin-left: 5px;
}

.Buttons button {
    color: .484e56;
    width: 147px;
    background-color: #EFEFEF;
    border: none;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 0.1em;
    /* margin-top: 22px; */
    margin: 15px 2px; 
    vertical-align: top;
    height: 50px;
    cursor: pointer;
}
/* .Buttons button:hover {
    opacity: 0.7;
    transition: 1s;
    cursor: pointer; 
}    
*/

.Buttons button:focus {
    outline: none;
    border: none;
}

.disabled {
    pointer-events: none;
    opacity: 0.7;
}

/* CARD STYLES */
.hand img {
    text-align: left;
    padding-top: 1px;
    height: 99%;
    margin-left: -25px;
}
.hand :first-child {
    margin: 0;
}


/* BET STYLES */
.chipsDisable img {
    display: none;
}

.betting {
    margin: 20px auto;
    height: 100px;
    width: 700px;
    background-color: #d9dbdd;
    border-radius: 15px;
}
.betting div {
    display: inline-block;
}
.betting img {
    height: 80px;
    margin-top: 8px;
    margin-right: 18px;
}
.betting img:hover {
    cursor: pointer;
}
.bet_square {
    float: left;
    margin-left: 30px;
    /* line-height: 0 */
  
}
.pot_square {
    float: right;
    margin-right: 47px;
}
.bet_square, .pot_square {
    font-weight: 800;
    font-size: 23px;
    margin-top: 3px;
    width: 100px;
    letter-spacing: 0.1em;
    color: #484e56;
    text-transform: uppercase;    
}

.bet_square p, .pot_square p {
    line-height: 0.5;
}
.pot, .bet {
    margin-top: -24px;
    margin-left: -5px;
}
.card_img {
    display: inline-block;    
}

.card_img img {
    max-height:130px;
}

.disableChips div {
    display: none;
}



/* MEDIA QUERIES */
@media (max-width: 650px) {
    .poker {
        height: 120px;
    }
    h1 {
        font-size: 23px
    }
    h2 {
        font-size: 20px;
    }
    .table {
        border-radius: 5px;
        height: 376px;
    }
    .table, .Buttons, .betting {
        width: 100%;
    }
    .dealer_hand, .player_hand {
        height: 75px;
    }
    .card_img img {
        max-height: 75px;
}
    .hand img {
        margin-left: -15px;
    }
    .dealer_hand, .player_hand, .player_label, .dealer_label {
        width: 95%;
    }
    .player_label, .dealer_label {
        margin-left: 10px;
    }
    .Buttons button {
        margin-top: 18px;
        font-size: 13px;
        width: 22.5%;
        padding: 12px 0px;
    }
    .doubledown {
        padding-top: 11px;
    }
    .betting {
        margin-top: 6px;
        height: 150px;
        border-radius: 5px;
    }
    .bet_square, .pot_square {

        margin: 0;
        float: none;
        width: 200px;
    }
    .bet_square {
        margin-top: 5px;
    }
    .bet_square p, .pot_square p {
        line-height: 1;
        margin: 5px;
        font-size: 20px;
        display: inline-block;
    }
    .bet, .pot {
        margin-left: 2px;
    }
    .betting img {
        height: 67px;
        margin-top: 10px;
        margin-right: 3px;
        margin: 4px;
    }
}